{%extends 'index.html'%}
{%block content%}
    <div class = "sitetitle">
        <h1 class="title">Balance</h1>
    </div>
    <div class = "sitetitle">
        <div class = "tab">
            <button class = "tablink" onclick="home()">Home</button>
        </div>
        <div class = "tab">
            <button class = "tablinka" onclick="sales()">Sales</button>
        </div>
        <div class = "tab">
            <button class = "tablinkb" onclick="bulk()">Bulk</button>
        </div>
        <div class = "tab">
            <button class = "tablinkc" onclick="balance()">Balance</button>
        </div>
        <div class = "tab">
            <button class = "tablinkd" onclick="contacts()">Contacts</button>
        </div>
        <div class = "tab">
            <button class = "tablinke" onclick="account()">Account</button>
        </div>
    </div>

    <div class="boxc">
        <a class= "balancea" id = "balance_display">Balance:</a>
        <h1 id ="money"></h1>
        <button class= "update" id="update" onclick="update()">Update</button>
    </div> 
{%endblock%}