{%extends 'index.html'%}
{%block content%}
    <div class = "sitetitle">
        <h1 class="title">Contacts</h1>
    </div>
    <div class = "sitetitle">
        <div class = "tab">
            <button class = "tablink" onclick="home()">Home</button>
        </div>
        <div class = "tab">
            <button class = "tablinka" onclick="sales()">Sales</button>
        </div>
        <div class = "tab">
            <button class = "tablinkb" onclick="bulk()">Bulk</button>
        </div>
        <div class = "tab">
            <button class = "tablinkc" onclick="balance()">Balance</button>
        </div>
        <div class = "tab">
            <button class = "tablinkd" onclick="contacts()">Contacts</button>
        </div>
        <div class = "tab">
            <button class = "tablinke" onclick="account()">Account</button>
        </div>
    </div>
    <div class="boxc">
        <div class="boxc">
        <label for="namea" class="inpta">Name: </label>
        <input type="text" id="namea" name ="name" class="inptansa">
        <p></p>
        <label for="cont" class="inpta">Contact Method: </label>
        <input type="text" id="cont" class="inptansa" name="cont">
        <p></p>
        <button class="entera" onclick="contact_store()">Enter</button>
    </div>
{%endblock%}