<!DOCTYPE html>
<html lang = "en">
    <head>
        <link rel = "stylesheet" href = "{{ url_for('static', filename = 'css/style.css')}}">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Aether E-Commerce</title>
        <link rel ="icon" type = "image/x-icon" href="{{ url_for('static', filename = 'assets/siteicon.png')}}">
    </head>
    <body>
    {%block content%}
        <div class="sitetitle">
            <img src="{{ url_for('static', filename = 'assets/siteicon.png')}}" alt = "Aether Logo" width = "150", height = "150" align = "left">
            <h2 class="title">Aether E-Commerce</h2>
        </div>
        <div class = "sitetitle">
            <div class = "tab">
                <button class = "tablink" onclick="home()">Home</button>
            </div>
            <div class = "tab">
                <button class = "tablinka" onclick="sales()">Sales</button>
            </div>
            <div class = "tab">
                <button class = "tablinkb" onclick="bulk()">Bulk</button>
            </div>
            <div class = "tab">
                <button class = "tablinkc" onclick="balance()">Balance</button>
            </div>
            <div class = "tab">
                <button class = "tablinkd" onclick="contacts()">Contacts</button>
            </div>
            <div class = "tab">
                <button class = "tablinke" onclick="account()">Account</button>
            </div>
        </div>
        <div class="container">
            <div class="boxa">
                <h6 class="stitle">On Sale</h6>
                <div class="boxina"></div>
            </div> 
            <div class="boxb">
                <h6 class = "stitle">Bulk Deals</h6>
                <div class="boxinb"></div>
            </div> 
        </div>
        <div class="boxc">
            <h6 class="btitle">Sales Space</h6>
            <div class = "boxinc"></div>
        </div>
    {%endblock%}
    </body>
    <script src="{{ url_for('static', filename = 'functions.js')}}"></script>
</html>